<template>
	<div class="map-panel">

		<b-panel :has-custom-template="true" :collapsible="true">
			<strong slot="header">Этажи</strong>
			<div>
				<button type="button" @click="backToBuildingPanel">Назад к зданиям</button>
				Выберите этаж:
			</div>
			<div class="buttons">
				<button type="button" v-for="floor in floors" :key="floor.id" class="button is-primary is-outlined do-btn"
						@click="setCurrentFloor(floor)">{{ floor.position }}</button>
				<button type="button" class="button is-success is-outlined do-btn"
						@click="addFloor()" title="Добавить этаж">+</button>
				<button type="button" class="button is-danger is-outlined cancel-btn"
						@click="deleteFloor()" title="Удалить этаж">X</button>
			</div>

			<p class="panel-tabs">
				<a @click="showMapPanelTab('floor-geoobjects')" :class="mapPanelTabClasses('floor-geoobjects')">Обьекты</a>
				<a @click="showMapPanelTab('floor-properties')" :class="mapPanelTabClasses('floor-properties')">Свойства</a>
				<a @click="showMapPanelTab('floor-bitmaps')" :class="mapPanelTabClasses('floor-bitmaps')">Битмапы</a>
				<!--<a @click="showMapPanelTab('staff')" :class="mapPanelTabClasses('staff')">Мусор</a>-->
			</p>


			<div class="panel-block" v-show="activeTab === 'floor-geoobjects'">
				<fieldset>
					<legend>Добавить</legend>
					<b-field v-for="elem in geoObjectsToAdd" :key="elem.id">
						<button type="button" title="elem.name"><i class=""></i></button>
					</b-field>
				</fieldset>

				<fieldset>
					<legend>Свойства</legend>
					<b-field v-for="prop in currentGeoObjectProperties" :key="prop.name">
						<b-input v-model="prop.value" :placeholder="prop.name" :title="prop.name"></b-input>
					</b-field>
				</fieldset>
			</div>


			<div class="panel-block" v-show="activeTab === 'floor-properties'">
				<fieldset>
					<legend>Свойства Этажа</legend>
					<b-field><b-input v-model="currentFloor.id" placeholder="ID" title="ID"></b-input></b-field>
					<b-field><b-input v-model="currentFloor.name" placeholder="Название" title="Название"></b-input></b-field>
					<b-field><b-input v-model="currentFloor.position" placeholder="Позиция" title="Позиция этажа"></b-input></b-field>
				</fieldset>
			</div>

			<div class="panel-block" v-show="activeTab === 'floor-bitmaps'">

				<div class="bitmap-properties" v-if="currentBitmap">
					<div class="file has-name">
						<label class="file-label">
							<input class="file-input" type="file" name="bitmapImage" @change="onBitmapLoad">
							<span class="file-cta">
								<span class="file-icon"><i class="fas fa-upload"></i></span>
								<template v-if="currentBitmap">
									<span class="file-label">{{ currentBitmap.name }}</span>
								</template>
								<template v-else>
									<span class="file-label">Загрузить картинку…</span>
								</template>
							</span>
							<span class="file-name">-</span>
						</label>
					</div>
					<b-field>
						<b-input type="number" v-model="currentBitmap.lng" title="Долгота"></b-input>
						<b-input type="number" v-model="currentBitmap.lat" title="Широта"></b-input>
					</b-field>
					<b-field>
						<b-input type="number" v-model="currentBitmap.angle" title="Угол поворота"></b-input>
						<b-input type="number" v-model="currentBitmap.scale" title="Масштаб"></b-input>
					</b-field>
				</div>

				<div v-else>
					<div class="buttons">
						<button type="button" class="button is-primary is-outlined do-btn"
								@click="addFloorBitmap" title="Добавить фоновую картинку этажа">Добавить Битмап
						</button>
						<button type="button" class="button is-danger is-outlined cancel-btn"
								@click="deleteFloorBitmap" title="Удалить Битмап">X
						</button>
					</div>
				</div>

			</div>

		</b-panel>




</div>
</template>

<script>
import Vue from 'vue';
import EventBus from "../../classes/EventBus";
import Floor from '../../classes/Floor';

const computed = {
	floors: function() {
		return this.$store.getters['entities/floors/query']()
				.where('building_id', this.$store.getters.currentBuildingId)
				.get();
	},
	currentFloor: {
		get: function () { return this.$store.getters.currentFloor || {}; },
		set: function (curFloor) { this.$store.dispatch('entities/floors/update', curFloor); }
	},
	currentGeoObjectProperties: {
		get: function () {
			if (!this.$store.getters.currentGeoObject) { return []; }
			const curGObj = this.$store.getters.currentGeoObject.properties;
			let result = [{ name: 'id', value: curGObj.id }];
			for (let i in curGObj) { if (curGObj.hasOwnProperty(i)) {
				result.push({ name: i, value: curGObj[i] });
			}}
			return result;
		},
		set: function (curGeoObjProps) {
			if (!this.$store.getters.currentGeoObject) {return false;}
			let props = {};
			for (let p of curGeoObjProps) {
				props[p.name] = p.value;
			}
			this.$store.commit('SET_GEO_OBJECT_PROPERTIES', props);
		}
	},
	currentBitmap: {
		get: function () { return this.$store.getters.currentBitmap || {}; },
		set: function (bitmap) { this.$store.commit('SET_BITMAP', bitmap); }
	},
};

const methods = {
	backToBuildingPanel () {
		EventBus.$emit('map-panel:show-buildings')

	},
	mapPanelTabClasses(tab) {
		return {
			'is-active': this.activeTab === tab,
		}
	},
	showMapPanelLayer(layer) {
		layer.visible = !layer.visible
	},
	showMapPanelTab(tab) {
		this.activeTab = tab;
		if (tab !== 'draw') {
			this.drawType = undefined
		}
	},
	addFloor() {
		EventBus.$emit('floor:begin-draw');
	},
	deleteFloor() {
		EventBus.$emit('floor:delete');
	},
	setCurrentFloor(floorId) {
		EventBus.$emit('floor:set-current', floorId);
	},
	addFloorBitmap() {
		EventBus.$emit('floor:bitmap:add');
	},
	deleteFloorBitmap() {
		EventBus.$emit('floor:bitmap:delete');
	},
	showFloorBitmap() {
		EventBus.$emit('floor:bitmap:set-current');
	},

	onBitmapLoad($event) {
		this.currentBitmap.file = $event.target.files[0];
		// submit the bitmap
		Vue.set(this.currentBitmap, 'name', this.currentBitmap.file.name);
//		this.currentBitmap.name = this.currentBitmap.file.name;
		this.$store.dispatch('changeBitmapImage', this.currentBitmap).then(() => {
			console.log('current Bitmap:', this.currentBitmap);

			this.currentBitmap.floor_id = this.currentFloor.id;
			this.currentBitmap.coords = this.currentFloor.coords;
		});


	},


	bitmap_move_left() {},
	bitmap_move_right() {},
	bitmap_move_up() {},
	bitmap_move_down() {},
	bitmap_angle_inc() {},
	bitmap_angle_dec() {},
	bitmap_scale_inc() {},
	bitmap_scale_dec() {},
};



// let a = ({
// 	el: "#app",
// 	data: {
// 		allowableTypes: ['jpg', 'jpeg', 'png', 'gif'],
// 		maximumSize: 5000000,
// 		selectedImage: null,
// 		image: null,
// 		options: {
// 			url: 'https://httpbin.org/post',
// 			type: "POST",
// 			processData: false,
// 			contentType: false
// 		}
// 	},
// 	methods: {
// 		validate(image) {
// 			if (!this.allowableTypes.includes(image.name.split(".").pop().toLowerCase())) {
// 				alert(`Sorry you can only upload ${this.allowableTypes.join("|").toUpperCase()} files.`)
// 				return false
// 			}
//
// 			if (image.size > this.maximumSize) {
// 				alert("Sorry File size exceeding from 5 Mb")
// 				return false
// 			}
//
// 			return true
// 		},
// 		onImageError(err) {
// 			console.log(err, 'do something with error')
// 		},
// 		changeImage($event) {
// 			this.selectedImage = $event.target.files[0];
// 			//validate the image
// 			if (!this.validate(this.selectedImage))
// 				return;
// 			// create a form
// 			const form = new FormData();
// 			form.append('file', this.selectedImage);
// 			// submit the image
// 			$.ajax(Object.assign({}, this.options, {data: form}))
// 				.then(this.createImage)
// 				.catch(this.onImageError);
// 		},
// 		createImage() {
// 			const image = new Image();
// 			const reader = new FileReader();
// 			reader.onload = (e) => {
// 				this.image = e.target.result
// 			};
// 			reader.readAsDataURL(this.selectedImage)
// 		},
// 	}
// });





export default {
	name: "floor-panel",
	methods: methods,
	computed: computed,
	data: () => { return {
		activeTab: 'floor-geoobjects',
//		floors: [{position: -1}, { position: 0}],
		geoObjectsToAdd: [],

		bitmap_lng: 0.0,
		bitmap_lat: 0.0,
		bitmap_angle: 0.0,
		bitmap_scale: 0,
	}}
}
</script>

<style lang="sass" scoped>
	@import "~bulma/sass/utilities/_all"
	@import "~bulma/sass/elements/box"
	@import "~bulma/sass/elements/form"

	.map-panel
		padding: 0
		position: relative

		.panel-heading
			box-shadow: 0 .25em .5em transparentize($dark, 0.8)

		.panel-content
			background: $white
			box-shadow: 0 .25em .5em transparentize($dark, 0.8)

		.panel-block
			flex-direction: column

			&draw-panel
			.buttons
				margin-bottom: 1px
				.button
					display: block
				.do-btn
					width: 200px
				.cancel-btn
					width: 50px

			fieldset
				@extend .box
				border: 0 none
				width: 100%
				padding-top: 5px
				> legend
					@extend .label
					background-color: $white
					padding: 0
					margin: 0

		+tablet()
			position: absolute
			top: 0
			right: 0px
			max-height: 1000px
			width: 22em
			z-index: 100
			background-color: $white
</style>



