<template>

	<div class="map-panel">
		<b-panel :has-custom-template="true" :collapsible="true">
			<strong slot="header">Здания</strong>
			<p class="panel-tabs">
				<a @click="showMapPanelTab('buildings-list')" :class="mapPanelTabClasses('buildings-list')">Список</a>
				<a @click="showMapPanelTab('building-edit')" :class="mapPanelTabClasses('building-edit')">Добавить/Изменить</a>
				<a @click="showMapPanelTab('draw')" :class="mapPanelTabClasses('draw')">Тест</a>
				<!--<a @click="showMapPanelTab('staff')" :class="mapPanelTabClasses('staff')">Мусор</a>-->
			</p>

			<div class="panel-block" v-show="activeTab === 'buildings-list'">
				<b-table
						:data="buildings"
						:striped="true"
						:selected.sync="currentBuildingById"
						:hoverable="true">
					<template slot-scope="props">
						<b-table-column field="id" label="id" width="40" numeric>{{ props.row.id }}</b-table-column>
						<b-table-column field="name" label="Название">{{ props.row.name }}</b-table-column>
						<b-table-column field="address" label="Адрес">{{ props.row.address }}</b-table-column>
					</template>
				</b-table>
			</div>

			<div class="panel-block" v-show="activeTab === 'building-edit'">
				<div class="buttons">
					<button type="button" class="button is-primary is-outlined do-btn"
							@click="addBuilding">Добавить новое здание
					</button>
					<button type="button" class="button is-danger is-outlined cancel-btn"
							@click="cancelAddBuilding" title="Отмена">X
					</button>
				</div>


				<div v-if="currentBuilding && currentBuilding.id">
					<fieldset class="fieldset">
						<legend>Работа с картой</legend>
						<div class="buttons">
							<button type="button" class="button is-primary is-outlined do-btn"
									@click="modifyBuilding">Изменить
							</button>
							<button type="button" class="button is-danger is-outlined cancel-btn"
									@click="cancelEditBuilding" title="Отмена">X
							</button>
						</div>
						<div class="buttons">
							<button type="button" class="button is-primary is-outlined do-btn"
									@click="drawBuildingCenter">Указать центр здания
							</button>
							<button type="button" class="button is-danger is-outlined cancel-btn"
									@click="cancelDrawBuildingCenter" title="Отмена">X
							</button>
						</div>
						<div class="buttons">
							<button type="button" class="button is-primary is-outlined do-btn"
									@click="drawBuildingEntryPoints">Добавить точки входа
							</button>
							<button type="button" class="button is-danger is-outlined cancel-btn"
									@click="cancelDrawBuildingEntryPoints" title="Отмена">X
							</button>
						</div>
					</fieldset>
					<button type="button" class="button is-primary is-outlined do-btn"
							@click="openFloorEditor">Редактирование этажей здания
					</button>
					<fieldset>
						<legend>Поля здания</legend>
						<b-field>
							<b-input v-model="currentBuilding.id" placeholder="ID" title="ID"></b-input>
						</b-field>
						<b-field>
							<b-input v-model="currentBuilding.name" placeholder="Название" title="Название"></b-input>
						</b-field>
						<b-field>
							<b-input v-model="currentBuilding.address" placeholder="Адрес" title="Адрес"></b-input>
						</b-field>
						<b-field>
							<b-select v-model="currentBuilding.city_id" placeholder="Город" title="Город"></b-select>
						</b-field>
					</fieldset>
					<div class="">
						<div class=""></div>
					</div>
				</div>
				<div v-else class="expanded">Выберите или добавьте здание</div>

			</div>


			<!--<div class="panel-block" v-for="layer in layers" :key="layer.id" @click="showMapPanelLayer"-->
			<!--:class="{ 'is-active': layer.visible }"-->
			<!--v-show="activeTab === 'floors'">-->
			<!--<b-switch :key="layer.id" v-model="layer.visible">-->
			<!--{{ layer.title }}-->
			<!--</b-switch>-->
			<!--</div>-->

			<div class="panel-block draw-panel" v-show="activeTab === 'draw'">
				<div class="buttons">
					<button v-for="control in drawControls" :key="control.type || -1"
							@click="enableDrawMode(control.type)"
							:class="drawType && drawType === control.type ? 'is-info' : ''" class="button">
						<b-icon :icon="control.icon"></b-icon>
						<span>{{ control.label }}</span>
					</button>
				</div>
				<div>
					<pre>{{ currentBuilding }}</pre>
				</div>
			</div>

		</b-panel>
	</div>

</template>

<script>

import EventBus from '../../classes/EventBus';
import {generateUniqueId} from '../../utils/common';
import Building from "../../classes/Building";


const methods = {
	mapPanelTabClasses(tab) {
		return {
			'is-active': this.activeTab === tab,
		}
	},
	showMapPanelLayer(layer) {
		layer.visible = !layer.visible
	},
	showMapPanelTab(tab) {
		this.activeTab = tab;
		if (tab !== 'draw') {
			this.drawType = undefined
		}
	},
	enableDrawMode(drawType) {
		this.drawType = drawType;
		this.drawMode = !!drawType;
	},
	disableDrawMode() {
		this.drawMode = false;
		this.drawType = null;
	},


	async addBuilding() {
		console.log('Begin to draw a new building', this.$store);
		let bs = await this.$store.dispatch('entities/buildings/insert', {
			data: {id: generateUniqueId(20)}
		});

		console.log(bs);
		let building = bs.buildings[0];
		this.currentBuildingId = building.id;
		console.log(this.currentBuildingId);
		EventBus.$emit('building:begin-draw', building);
	},
	cancelAddBuilding() {
		console.log('Cancel draw building');
		this.$store.commit('SET_CURRENT_BUILDING_ID', null);
		EventBus.$emit('building:cancel-draw', this.currentBuilding);
	},


	drawBuilding() {
		EventBus.$emit('building:begin-draw', this.currentBuilding);
		return true;
	},
	cancelDrawBuilding() {
		console.log('Cancel draw building');
		EventBus.$emit('building:cancel-draw', this.currentBuilding);
		return false;
	},
	drawBuildingCenter() {
		EventBus.$emit('building:set-center', this.currentBuilding);
		return true;
	},
	cancelDrawBuildingCenter() {
		return false;
	},
	drawBuildingEntryPoints() {
		EventBus.$emit('building:set-entry-points', this.currentBuilding);
	},
	cancelDrawBuildingEntryPoints() {
		return false;
	},
	modifyBuilding() {
		EventBus.$emit('building:begin-edit', this.currentBuilding);
	},
	cancelEditBuilding() {
		EventBus.$emit('building:cancel-edit', this.currentBuilding);
	},

	openFloorEditor() {
		EventBus.$emit('map-panel:show-floors', this.currentBuilding);
	}

};

const computed = {
	buildings: function () {
		return this.$store.getters['entities/buildings/all']();
	},
	currentBuilding: {
		get: function () {
			return this.$store.getters['entities/buildings/find'](this.currentBuildingId);
		},
		set: function (building) {
			if (!('id' in building && building.id)) {
				building.id = 'tmp_' + generateUniqueId();
			}
			this.$store.dispatch('entities/buildings/update', building); //('SET_BUILDING', building);
		}
	},
	currentBuildingId: {
		get: function () { return this.$store.getters.currentBuildingId; },
		set: function (id) { this.$store.commit('SET_CURRENT_BUILDING_ID', id); }
	},
	currentBuildingById: {
		get: function () { return this.$store.getters.currentBuilding; },
		set: function (building) { this.$store.commit('SET_CURRENT_BUILDING_ID', building ? building.id : null); }
	}
};

export default {
	name: "building-panel",
	computed: computed,
	methods: methods,
	data: () => {
		return {
			activeTab: 'building-edit',
			drawControls: [
				{
					type: 'Point',
					label: 'Draw Point',
					icon: 'map-marker',
				},
				{
					type: 'LineString',
					label: 'Draw LineString',
					icon: 'minus',
				},
				{
					type: 'Polygon',
					label: 'Draw Polygon',
					icon: 'square-o',
				},
				{
					type: 'Circle',
					label: 'Draw Circle',
					icon: 'circle-thin',
				},
				{
					type: undefined,
					label: 'Stop drawing',
					icon: 'times',
				},
			],
			drawType: undefined,
		};
	}
}
</script>

<style lang="sass" scoped>
	@import "~bulma/sass/utilities/_all"
	@import "~bulma/sass/elements/box"
	@import "~bulma/sass/elements/form"

	.map-panel
		padding: 0
		position: relative

		.panel-heading
			box-shadow: 0 .25em .5em transparentize($dark, 0.8)

		.panel-content
			background: $white
			box-shadow: 0 .25em .5em transparentize($dark, 0.8)

		.panel-block
			flex-direction: column

			&draw-panel
			.buttons
				margin-bottom: 1px
				.button
					display: block
				.do-btn
					width: 200px
				.cancel-btn
					width: 50px

			fieldset
				@extend .box
				border: 0 none
				width: 100%
				padding-top: 5px
				> legend
					@extend .label
					background-color: $white
					padding: 0
					margin: 0

		+tablet()
			position: absolute
			top: 0
			right: 0px
			max-height: 1000px
			width: 22em
			z-index: 100
			background-color: $white
</style>