<template>
	<div class="my-map" id="ol-map"></div>
</template>

<script>
	import 'ol/ol.css';
	import Map from 'ol/Map.js';
	import View from 'ol/View.js';
	import Feature from 'ol/Feature';
	import Polygon from 'ol/geom/Polygon';
	import Point from 'ol/geom/Point';
	import {Draw, Modify, Snap, Select, Translate} from 'ol/interaction.js';
	import {boundingExtent, getCenter as getExtentCenter} from 'ol/extent';
	import {Tile as TileLayer, Vector as VectorLayer, Image as ImageLayer} from 'ol/layer.js';
	import {OSM, Vector as VectorSource, TileDebug, ImageCanvas} from 'ol/source.js';
	import {Circle as CircleStyle, Fill, Stroke, Style} from 'ol/style.js';
	import {shiftKeyOnly, singleClick, doubleClick} from 'ol/events/condition.js';
	import ScaleLine from 'ol/control/ScaleLine';
	//import FullScreen from 'ol/control/fullscreen';
	//import OverviewMap from 'ol/control/overviewmap';
	import ZoomSlider from 'ol/control/ZoomSlider';
	import Projection from 'ol/proj/Projection';

	import {defaults as defaultControls} from 'ol/control.js';
	import MousePosition from 'ol/control/MousePosition.js';
	import {createStringXY} from 'ol/coordinate.js';
	import Rotate from 'ol/control/Rotate';

	import {fromLonLat, toLonLat} from 'ol/proj.js';
	import EventBus from '../../classes/EventBus';
	import {from3857_to4326, from4326_to3857, generateUniqueId} from "../../utils/common";

	import GeoImage from 'ol-ext/source/GeoImage';
	import Transform from 'ol-ext/interaction/Transform';


	import GeoJson from 'ol/format/GeoJSON';


	// // Recursive transform all coordinates to Longtitude-Lattitude format.
	// const convertCoordsRecursive = (coords, l, converter) => {
	// 	if (l > 0) {
	// 		let coords_lonlat = [];
	// 		for (let i in coords) {
	// 			if (coords.hasOwnProperty(i)) {
	// 				coords_lonlat[i] = convertCoordsRecursive(coords[i], l - 1, converter);
	// 			}
	// 		}
	// 		return coords_lonlat
	// 	} else {
	// 		return converter(coords);
	// 	}
	// };
	//
	// const from3857_to4326 = (coords, levels) => {
	// 	levels = (levels === undefined)? 2: levels;
	// 	return convertCoordsRecursive(coords, levels, toLonLat);
	// };
	//
	// const from4326_to3857 = (coords, levels) => {
	// 	levels = (levels === undefined) ? 2 : levels;
	// 	return convertCoordsRecursive(coords, levels, fromLonLat);
	// };


	const mounted = function() {

		// Create an OpenLayers instance.

		const osmSource = new OSM({
			url: 'http://127.0.0.1/tiles/{z}/{x}/{y}.png',
		});
		// const borders = new TileLayer({
		// 	source: new TileDebug({
		// 		projection: 'EPSG:3857',
		// 		tileGrid: osmSource.getTileGrid()
		// 	})
		// });

		this.vectorSources = {
			buildings: new VectorSource(),
			buildingPoints: new VectorSource(),
			floors: new VectorSource(),
			geoObjects: new VectorSource(),
		};

		let buildings = this.$store.getters['entities/buildings/all']();
		if (buildings && buildings.length > 0) {
			for (let b of buildings) {
				let buildingFeature = b.createFeature();
				this.vectorSources.buildings.addFeature(buildingFeature);
				console.log('Building was added', buildingFeature.getId(), buildingFeature.getGeometry().getCoordinates());
			}
		}

		this.layers = {
			background: new TileLayer({
				source: osmSource,
			}),
			buildings: new VectorLayer({
				source: this.vectorSources.buildings,
				style: new Style({
					fill: new Fill({
						color: 'rgba(255, 255, 255, 0.5)'
					}),
					stroke: new Stroke({
						color: '#4ac8ff',
						width: 2
					}),
					image: new CircleStyle({
						radius: 7,
						fill: new Fill({
							color: '#ff000c'
						})
					})
				})
			}),
			// buildingPoints: new VectorLayer({
			// 	source: this.vectorSources.buildingPoints,
			// }),
			floors: new VectorLayer({
				source: this.vectorSources.floors,
			}),
			geoObjects: new VectorSource({
				source: this.vectorSources.geoObjects,
			})
		};
		this.layers.background.setZIndex(0);
		this.layers.buildings.setZIndex(5);


		this.view = new View({
			center: this.mapViewOptions.center,
			zoom: this.mapViewOptions.zoom,
			rotation: this.mapViewOptions.rotation,
			projection: 'EPSG:3857', // 'EPSG:4326',
		});

		this.map = new Map({
			layers: [this.layers.background, this.layers.buildings],
			target: this.mapOptions.target,
			view: this.view,
		});

		this.selectInteraction = new Select({
			wrapX: false,
			layers: [
				this.layers.buildings,
				this.layers.buildingCenters
			]
		});
		this.map.addInteraction(this.selectInteraction);

		this.map.getControls().extend([
			new ScaleLine(),
			// new FullScreen(),
			// new OverviewMap({
			// 	collapsed: false,
			// 	collapsible: true,
			// }),
			new ZoomSlider(),
			new Rotate(),
			new MousePosition({
				coordinateFormat: createStringXY(6),
				projection: 'EPSG:4326',
				className: 'ol-mouse-position-my',
				// comment the following two lines to have the mouse position be placed within the map.
//			className: 'custom-mouse-position',
//			target: document.getElementById('mouse-position'),
				undefinedHTML: '&nbsp;'
			}),
		]);


		EventBus.$on('building:begin-draw', this.addBuildingToMap);
		EventBus.$on('building:begin-edit', this.editBuilding);
		EventBus.$on('building:set-center', this.setBuildingCenter);
		EventBus.$on('map-panel:show-floors', this.showFloors);

		this.selectInteraction.on('select', (e) => {
			if ('selected' in e && e.selected.length > 0) {
				let feature = e.selected[0],
					newId = feature? feature.getId(): null;
				let oldId = this.$store.getters.currentBuildingId;
				if (oldId === newId) {
					return;
				}
				if (oldId) {
					const building = this.$store.getters['entities/buildings/find'](oldId);
					building.hidePoints(this.map);
				}
				if (newId) {
					this.$store.commit('SET_CURRENT_BUILDING_ID', newId);

					const building = this.$store.getters['entities/buildings/find'](newId);
					building.showPoints(this.map);
				}
			} else {
				this.$store.commit('SET_CURRENT_BUILDING_ID', null);
			}
		});

		this.$store.dispatch('loadBuildings');



		let geoimg = new ImageLayer(
			{	name: "Test-alan-georef",
				opacity: 1,
				source: new GeoImage(
					{	url: 'http://127.0.0.1:5000/static/BITMAPS/alan.-1.png',
						imageCenter: from4326_to3857([52.408, 55.762], 0),
						imageScale: [1, 1],
//						imageCrop: [xmin, ymin, xmax, ymax],
						imageRotate: Number(50 * Math.PI/180),
						projection: 'EPSG:3857',
						attributions: [ "Test bitmap on the map" ]
					})
			});

		this.map.addLayer(geoimg);

// 		let interaction = new Transform(
// 			{
// 				addCondition: shiftKeyOnly,
// //				layers: [geoimg],
// 				hitTolerance: 2,
// 				translateFeature: false,
// 				scale: true,
// 				rotate: true,
// 				keepAspectRatio: false,
// 				translate: true,
// 				stretch: true
// 			});
// 		interaction.setDefaultStyle();
// 		this.map.addInteraction(interaction);



//		const typeSelect = document.getElementById('type');
		/**
		 * Handle change event.
		 */
		// typeSelect.onchange = function () {
		// 	map.removeInteraction(draw);
		// 	map.removeInteraction(snap);
		// 	addInteractions();
		// };

		//this.addInteractions();
	};

	const methods = {
		addBuildingToMap(building) {
			building.drawFeature({
				map: this.map,
				vectorSource: this.vectorSources.buildings,
				onDrawStart: (building, event) => {},
				onDrawEnd: (building, event) => {
//					this.$store.commit('SET_BUILDING', building);
				},
			});
		},
		editBuilding(building) {
			building.editFeature({
				map: this.map,
				selection: this.selectInteraction.getFeatures(),
				onModifyEnd: (building, event) => {
//					this.$store.commit('SET_BUILDING', building);
				},
			});
		},


		addBuilding_OLD(e) {
			if (this.draw) {
				this.map.removeInteraction(this.draw);
				this.draw = null;
			}
			this.draw = new Draw({
				source: this.vectorSources.buildings,
				type: 'Polygon',
			});
			this.map.addInteraction(this.draw);

			if (this.snap) {
				this.map.removeInteraction(this.snap);
				this.snap = null;
			}
			this.snap = new Snap({ source: this.vectorSources.buildings });
			this.map.addInteraction(this.snap);

			this.draw.on('drawstart', (e) => {
				let newId = this.$store.state.currentBuildingId;
				if (!newId) {
					newId = generateUniqueId(20);
					this.$store.commit('SET_CURRENT_BUILDING_ID', newId);
				}
				e.feature.setId(newId);
				console.log('ON DRAWSTART', e, newId);
			});
			this.draw.on('drawend', (e) => {
				let curId = e.feature.getId();
				let coords = e.feature.getGeometry().getCoordinates();
				this.$store.commit('SET_BUILDING', {
					'id': curId,
					'geodata': from3857_to4326(coords),
				});

				this.map.removeInteraction(this.draw);
				this.draw = null;
			});
		},
		editBuilding_OLD(e) {
			let selected_features = this.selectInteraction.getFeatures();
			selected_features.clear();
			if ('id' in e && e.id) {
				console.log('Begin modifying', e);
				let feature = this.vectorSources.buildings.getFeatureById(e.id);
				selected_features.push(feature);
				this.modify = new Modify({
					features: selected_features,
					deleteCondition: (event) => {
						return (shiftKeyOnly(event) && singleClick(event)) || doubleClick(event);
					}
				});
				this.map.addInteraction(this.modify);
				this.modify.on('modifyend', (e) => {
					if (e.features && e.features.getArray().length) {
						let f = e.features.getArray()[0];
						let curId = f.getId();
						let coords = f.getGeometry().getCoordinates();
						console.log("feature id is", curId, coords[0]);
						this.$store.commit('SET_BUILDING', {
							'id': curId,
							'geodata': from3857_to4326(coords),
						});
					}
				});
			}
		},

		fitFeature(feature) {
			this.map.getView().fit(
				feature.getGeometry().getExtent(),
				{ duration: 300, size: this.map.getSize() }
			);
		},

		setBuildingCenter(building) {
			let feature = this.vectorSources.buildings.getFeatureById(building.id);
			if (!feature) {
				console.log('setBuildingCenter: there is no drawn buildings with this id!!!', building.id);
				return;
			}

			this.fitFeature(feature);

			building.drawCenter(this.map);
		},

		showFloors(curBuilding) {
			let feature = this.vectorSources.buildings.getFeatureById(curBuilding.id);
			this.fitFeature(this.map, feature);
		},





		addInteractions() {
			this.map.removeInteraction(this.draw);
			this.map.removeInteraction(this.snap);
			this.draw = new Draw({
				source: this.vectorSources.buildings,
				type: 'Polygon'
			});

			this.draw.on('drawend', (e) => {
				console.log('Feature was drawn', e);
				e.feature.setId('123456');

				let coords = e.feature.getGeometry().getCoordinates();
				console.log(coords);
				let coords_lonlat = [];
				for (let c of coords[0]) {
					coords_lonlat.push(toLonLat(c))
				}
				console.log(coords_lonlat);
			});
			this.map.addInteraction(this.draw);
			this.snap = new Snap({source: this.vectorSources.buildings});
			this.map.addInteraction(this.snap);
		},
	};

	export default {
		name: "my-map",
		beforeMount () {},
		mounted: mounted,
		methods: methods,
		computed: {},
		data() {
			return {
				// buildings: [
				// 	{
				// 		"id": 1,
				// 		"active": 1,
				// 		"city_id": 2, // Набережные челны
				// 		"organization_id": 2, // Рынок алан - организация, владеющая зданием
				// 		"address": "Ул. Пушкина, дом колотушкина",
				// 		"name": "Рынок Алан",
				// 		"desc": "Носки, трусы и прочий ширпотреб", // Короткое описание.
				// 		"geodata": [
				// 			[55.765661, 52.410835], [55.764882, 52.412112], [55.765849, 52.413905],
				// 			[55.766239, 52.413250], [55.765708, 52.412239], [55.766081, 52.411614],
				// 			[55.765661, 52.410835]
				// 		],
				// 		"entries": [
				// 			[55.766239, 52.413250],
				// 			[55.766239, 52.413250]
				// 		],
				// 		"time_updated": "2018-05-31 05:34:20", // Время последнего изменения здания.
				// 	}
				// ],

				mapOptions: {target: 'ol-map'},
				map: null,
				mapViewOptions: {
					center: from4326_to3857([52.408, 55.762], 0),
					zoom: 15,
					rotation: 0,
				},
				view: null,
				draw: null,
				snap: null,
				select: null,
				modify: null,
				layers: {},
				vectorSource: null,
				mapView: null,
				clickCoordinate: undefined,
				selectedFeatures: [],
				deviceCoordinate: undefined,
				drawMode: false,
				mapVisibile: true,

				buildingsFeaturesInner: [],
				// base layers
				baseLayers: [
					{
						name: 'osm',
						visible: true,
						title: 'OSM Наш сервер',
						url: 'http://192.168.100.93/tiles/{z}/{x}/{y}.png'
					},
				],



			};
		},
	}
</script>

<style>
.ol-mouse-position-my {
	top: 8px;
	left: 40px;
	position: absolute;
	background-color: #FFFFFF;
}
</style>