<template>

	<div id="app">
		<div id="top-menu">
			<top-menu></top-menu>
		</div>

		<div>
			<div id="my-map">
				<my-map></my-map>
			</div>

			<div id="map-panel">
				<template v-if="(currentPanel === 'building')">
					<building-panel></building-panel>
				</template>
				<template v-else-if="(currentPanel === 'floor')">
					<floor-panel :building="currentBuilding"></floor-panel>
				</template>
				<template v-else>
					<div>Что то пошло не так! {{ currentPanel }}</div>
				</template>
			</div>

		</div>

	</div>

</template>
<style></style>
<script>
	import TopMenu from './components/top-menu/TopMenu.vue';
	import MyMap from './components/my-map/MyMap.vue';
	import MapPanel from './components/map-panel/MapPanel.vue';
	import BuildingPanel from "./components/building-panel/BuildingPanel.vue";
	import FloorPanel from "./components/floor-panel/FloorPanel.vue";
	import EventBus from './classes/EventBus';

	export default {
		name: 'my-main',
		data() {
			return {
				currentPanel: 'building',
				currentBuilding: null,
			}
		},
		mounted: function() {
			EventBus.$on('map-panel:show-floors', (curB) => {
				if (curB && curB.id) {
					this.currentBuilding = curB;
					this.currentPanel = 'floor';
					console.log('Set currentPanel to "FLOOR"!')
				} else {
					console.log('Cant set currentPanel to "FLOOR", because there is no currentBuilding')
				}
			});
			EventBus.$on('map-panel:show-buildings', () => {
				this.currentPanel = 'building';
				console.log('Set currentPanel to "BUILDING"!')
			})
		},

		components: {
			BuildingPanel,
			FloorPanel,
			TopMenu,
			MyMap,
			MapPanel,
		}
	}

</script>

